*.iml
*.iws
.gradle
.externalNativeBuild

/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/caches/*
/build
/captures
/.idea/libraries
/.idea/tasks.xml
/.idea/vcs.xml
/.idea/workspace.xml

/ello
/res
/assets
